@import url(https://fonts.googleapis.com/css?family=Taviraj);
@import url(https://fonts.googleapis.com/css?family=Lustria);
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
    
    font-family: 'Taviraj';
    font-size: 14px;
    background-color:#F5FFFA         
} 

p1 {
    font-family: 'verdana';
    font-size: 18px;
    font-weight: bold;
}

p2 {
    font-family: 'Taviraj';
    font-size: 16px;
    font-style: italic;
}

h1 {
    font-family: 'Lustria';
    font-size: 14px;
    font-weight: bold;
}

h2 {
    font-family: 'Lustria';
    font-size: 14px;
    color: #6A5ACD;
    
}

h3 {
    font-family: 'Lustria';
    font-size: 14px;
}

h4 {
    
    font-size: 14;
    font-style: oblique;
    text-align: center;
    
}